@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="./img/GroceriesImage.png" title="~/GroceriesImage.png" alt="Groceries image" asp-append-version = "true">
</div>
<br />
<br />
<br />
<div class="text-center">
    <a class="btn btn-outline-dark btn-lg" asp-area="Identity" asp-page="/Account/Register">Create an account</a>
</div>

