@model GotStuff.ViewModels.PantryVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AppUsers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>

            <td>
                 <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" asp-route-pantryId="@Model.Id">Remove</a>
            </td>
         </tr>
}
    </tbody>
</table>

<div>
    <a class="btn btn-outline-dark" asp-controller="Pantry" asp-action="Index">Back to List</a>
</div>